/* ================================ */
/*   阿藤春樹                       */
/* ================================ */
#root[name="阿藤春樹"] {
  background-image: url(./img/bg/鐵鏽水管.png);
  --c_img: url(./img/move/阿藤.gif);
  --c_img_a: url(./img/move/阿藤a.png);
  --c_img_b: url(./img/move/阿藤b.png);
}
#root[name="阿藤春樹"] .item:after {
  bottom: -32px;
  width: 32px;
  height: 224px;
  background: url(./img/item/冰塊.png);
}
#root[name="阿藤春樹"]:after {
  background: #00F3;
  backdrop-filter: brightness(1.2);
}

/* ================================ */
/*   嘉納扇                         */
/* ================================ */
#root[name="嘉納扇"], #root[name="嘉納扇D"] {
  --c_img: url(./img/move/阿藤.gif);
  --c_img_a: url(./img/move/阿藤a.png);
  --c_img_b: url(./img/move/阿藤b.png);
}
#root[name="嘉納扇"] #gameover:after,
#root[name="嘉納扇D"] #gameover:after {
  content: "ED 01";
  color: #A00;
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 20px;
  font-family: fantasy;
  letter-spacing: 3px;
}
#root[name="嘉納扇"] #character,
#root[name="嘉納扇D"] #character {
  filter: sepia(0.2) drop-shadow(1px 1px 1px #0003);
}
#root[name="嘉納扇"] #items,
#root[name="嘉納扇D"] #items {
  z-index: 1;
}
#root[name="嘉納扇"] .item:after,
#root[name="嘉納扇D"] .item:after {
  bottom: 0px;
  width: 32px;
  height: 32px;
  background: url(./img/item/手術刀.png);
  filter: brightness(1.05) drop-shadow(0 0 1px #fffA);
}
#root[name="嘉納扇"]:after,
#root[name="嘉納扇D"]:after {
  backdrop-filter: brightness(0.9);
  background: #f001;
}
/* ================================ */
/*   嘉納扇 N版特殊                 */
/* ================================ */
#root[name="嘉納扇"] {
  background-image: url(./img/bg/病房A.gif);
}
#root[name="嘉納扇"].hit {
  background-image: url(./img/bg/病房B.gif);
}
#root[name="嘉納扇"].kanou_falling {
  background-image: url(./img/bg/病房.png);
}
#root[name="嘉納扇"] .item.kanou:after {
  bottom: -12px;
  left: -12px;
  width: 56px;
  height: 56px;
  background: url(./img/item/嘉納.png);
  filter: none;
}
#root[name="嘉納扇"] #character_load_img {
  background:
    var(--c_img), var(--c_img_a), var(--c_img_b),
    url(./img/bg/病房A.gif),
    url(./img/bg/病房B.gif),
    url(./img/bg/病房.png);
}

/* ================================ */
/*   嘉納扇 D版特殊                 */
/* ================================ */
#root[name="嘉納扇D"] {
  background-image: url(./img/bg/病房.png);
}
#root[name="嘉納扇D"] #vs_moment:before {
  content: "Ctrl + ← →";
  position: absolute;
  left: 2px;
  bottom: 2px;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
}
#root[name="嘉納扇D"] #kanou {
  filter: brightness(1.03) drop-shadow(1px 1px 1px #0003);
  --c_img: url(./img/move/嘉納.gif);
  --c_img_a: url(./img/move/嘉納a.png);
  --c_img_b: url(./img/move/嘉納b.png);
}
#root[name="嘉納扇D"] #character_load_img {
  background:
    var(--c_img), var(--c_img_a), var(--c_img_b),
    url(./img/move/嘉納.gif),
    url(./img/move/嘉納a.png),
    url(./img/move/嘉納b.png);
}

/* ================================ */
/*   磯井麗慈                       */
/* ================================ */
#root[name="磯井麗慈"] {
  background-image: url(./img/bg/廢墟.png);
  --c_img: url(./img/move/麗慈.gif);
  --c_img_a: url(./img/move/麗慈a.png);
  --c_img_b: url(./img/move/麗慈b.png);
}
#root[name="磯井麗慈"] .item:after {
  bottom: -32px;
  width: 32px;
  height: 128px;
  background: url(./img/item/岩石.png);
}
#root[name="磯井麗慈"]:after {
  backdrop-filter: sepia(.5);
}

/* ================================ */
/*   信濃榮治                       */
/* ================================ */
#root[name="信濃榮治"] {
  background-image: url(./img/bg/收容室.png);
  --c_img: url(./img/move/信濃.gif);
  --c_img_a: url(./img/move/信濃a.png);
  --c_img_b: url(./img/move/信濃b.png);
}
#root[name="信濃榮治"] .item:after {
  bottom: -32px;
  width: 32px;
  height: 64px;
  background: url(./img/item/針.gif);
}
#root[name="信濃榮治"]:after {
  backdrop-filter: brightness(1.15);
  background: #0000ff18;
}

/* ================================ */
/*   磯井實光                       */
/* ================================ */
#root[name="磯井實光"] {
  background-image: url(./img/bg/河堤.png);
  --c_img: url(./img/move/實光.gif);
  --c_img_a: url(./img/move/實光a.png);
  --c_img_b: url(./img/move/實光b.png);
}
#root[name="磯井實光"] .item:after {
  bottom: -9px;
  width: 32px;
  height: 43px;
  background: url(./img/item/信封.png);
}

/* ================================ */
/*   宇津木德幸                     */
/* ================================ */
#root[name="宇津木德幸"] #character {
  width: 352px;
  height: 256px;
  margin-left: -128px;
  transform: scaleX(-1);
}
#root[name="宇津木德幸"] #character.r {
  transform: scaleX(1);
}
#root[name="宇津木德幸"] {
  background-image: url(./img/bg/鐵鏽水管冰.png);
  --c_img: url(./img/move/宇津木.gif);
  --c_img_a: url(./img/move/宇津木a.png);
  --c_img_b: url(./img/move/宇津木b.png);
}
#root[name="宇津木德幸"] .item:after {
  bottom: -32px;
  left: -32px;
  width: 96px;
  height: 128px;
  background: url(./img/item/十字架.png);
}
#root[name="宇津木德幸"] .item.amen:after {
  background: url(./img/item/十字架麗慈.png);
}
#root[name="宇津木德幸"]:after {
  background: #F002;
  backdrop-filter: brightness(1.2);
}
#root[name="宇津木德幸"].hit:after {
  background: #F004 !important;
}

/* ================================ */
/*   磯井父子                       */
/* ================================ */
#root[name="磯井父子"] {
  background-image: url(./img/bg/鱷魚河邊.png);
  --c_img: url(./img/move/小麗慈.gif);
  --c_img_a: url(./img/move/小麗慈a.png);
  --c_img_b: url(./img/move/小麗慈b.png);
}
#root[name="磯井父子"] #vs_moment:before {
  content: "J / L";
  position: absolute;
  left: 8px;
  bottom: 2px;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
}
#root[name="磯井父子"] #character {
  top: 96px;
}
#root[name="磯井父子"] .item:after {
  bottom: -32px;
  left: -16px;
  width: 64px;
  height: 160px;
  background: url(./img/item/鱷魚.png);
}
#root[name="磯井父子"] .item.eagle:after {
  bottom: -16px;
  left: -16px;
  width: 64px;
  height: 64px;
  background: url(./img/item/老鷹.png);
}
#root[name="磯井父子"] #snmt {
  --c_img: url(./img/move/實光2.gif);
  --c_img_a: url(./img/move/實光2a.png);
  --c_img_b: url(./img/move/實光2b.png);
}
#root[name="磯井父子"] #character_load_img {
  background:
    var(--c_img), var(--c_img_a), var(--c_img_b),
    url(./img/move/實光2.gif),
    url(./img/move/實光2a.png),
    url(./img/move/實光2b.png);
}
